In [264]:
DATA_PATH = '../Data/Raw/raw_data0_data_scientist.csv'
PKL_EXPORT_PATH = "../data/processed/0_DataCleaned_df.pkl"
CSV_EXPORT_PATH = "../data/processed/0_DataCleaned_df.csv"

In [263]:
# Packages to import
import pandas as pd 
import numpy as np
import re
import logging
import pickle

In [3]:
# Read data and Print shape
raw_df = pd.read_csv(DATA_PATH).set_index('Unnamed: 0').reset_index(drop=True)
raw_df.shape

(1000, 12)

In [4]:
# Display random answer
raw_df.sample(1).iloc[0]

Job Title                                               Data Scientist
Salary Estimate                  Employer Provided Salary:$78K - $184K
Job Description      Data science at the National Security Agency (...
Rating                                                             3.7
Company Name                             National Security Agency\n3.7
Location                                                Fort Meade, MD
Size                                                           Unknown
Founded                                                           1962
Type of ownership                                           Government
Industry                                             National Agencies
Sector                              Government & Public Administration
Revenue                                       Unknown / Non-Applicable
Name: 859, dtype: object

In [5]:
raw_df.sample(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
929,Junior Data Scientist,Employer Provided Salary:$80K - $90K,"Fremont, California\nType: Full-time\nMin. Exp...",3.5,SoundThinking\n3.5,"Fremont, CA",201 to 500 Employees,1996,Company - Public,Software Development,Information Technology,$25 to $100 million (USD)
40,Data Scientist,Employer Provided Salary:$70K - $105K,We are recruiting for a Data Scientist to join...,3.5,Denver Health\n3.5,"Denver, CO",5001 to 10000 Employees,1860,Nonprofit Organization,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD)
102,Data Scientist,$92K - $125K (Glassdoor est.),"Durham, NC | Austin, TX | Remote | Full Time\n...",4.2,Hyperspace Ventures\n4.2,"Durham, NC",1 to 50 Employees,2017,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable
80,Data Scientist,-1,About Pinterest:\nMillions of people across th...,3.8,Pinterest\n3.8,Remote,1001 to 5000 Employees,2010,Company - Public,Internet & Web Services,Information Technology,$100 to $500 million (USD)
604,Decision Scientist,Employer Provided Salary:$133K - $185K,Instagram’s vision is “to be a place where peo...,3.9,Meta\n3.9,Remote,10000+ Employees,2004,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
991,Aspire Tech Program - Data Scientist I,$67K - $96K (Glassdoor est.),Job Description\nLexisNexis Legal & Profession...,4.0,RELX\n4.0,"Miamisburg, OH",10000+ Employees,1880,Company - Public,Information Technology Support Services,Information Technology,$10+ billion (USD)
933,Decision Scientist,Employer Provided Salary:$133K - $185K,Instagram’s vision is “to be a place where peo...,3.9,Meta\n3.9,Remote,10000+ Employees,2004,Company - Public,Internet & Web Services,Information Technology,$10+ billion (USD)
853,Jr Data Scientist,$77K - $106K (Glassdoor est.),Job Description :\nData Scientist will join a ...,3.9,Veracity Software\n3.9,"Iselin, NJ",51 to 200 Employees,2010,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable
597,Junior Data Scientist/Data Modeler,-1,Overview:\nLMI is seeking a skilled Data Scien...,4.2,Logistics Management Institute\n4.2,Remote,1001 to 5000 Employees,1961,Company - Private,Business Consulting,Management & Consulting,$100 to $500 million (USD)
276,DATA SCIENTIST I,-1,Work with and analyze complex data from variou...,3.0,Frontier Communications\n3.0,Remote,10000+ Employees,1935,Company - Public,"Cable, Internet & Telephone Providers",Telecommunications,$10+ billion (USD)

In [6]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1000 non-null   object
 1   Salary Estimate    1000 non-null   object
 2   Job Description    1000 non-null   object
 3   Rating             1000 non-null   float64
 4   Company Name       1000 non-null   object
 5   Location           1000 non-null   object
 6   Size               1000 non-null   object
 7   Founded            1000 non-null   int64
 8   Type of ownership  1000 non-null   object
 9   Industry           1000 non-null   object
 10  Sector             1000 non-null   object
 11  Revenue            1000 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 93.9+ KB

# Data Cleaning Process
### 1.Parse the Salary Data Column, Remove rows in which salary equal -1 and Remove any Text in the columns ✔️ 
### 2.Company Name Column, Wee need to remove numbers in the company name ✔️ 
### 3.Location Column, keep the state abbreviation and Remove the State name ✔️ 
### 4.Size Column, Remove the Text in this Column 
### 5.Founded column, Maybe change the Founded year to how old the company is ✔️
### 6.Revenue Column, how are we going to interpret thes big numbers, also there unknown values
### 7.How are we going to deal with '-1' values in each column
### 8.Job Description Column, 
_____________________________________________________________________________________________________________

## 1. Salary Column

### 1. Parse the Salary Data Column 
### 2. Remove rows in which salary equal -1
### 3. Remove any Text in the columns
### 4. split salary into min and max salary column
### 5. calculate the avg salary

In [7]:
# How many Null values in the salary column
len(raw_df[raw_df['Salary Estimate' ] == '-1'])

222

In [8]:
# Remove Columns where Salary == -1
raw_df = raw_df[raw_df['Salary Estimate'] != '-1']

In [9]:
# Use Regex to Remove Text in the Salary Column
salary = raw_df['Salary Estimate'].str.replace(r'[^0-9-_]', '')

C:\Users\Ali\AppData\Local\Temp\ipykernel_14712\3556237647.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  salary = raw_df['Salary Estimate'].str.replace(r'[^0-9-_]', '')

In [10]:
# The Per hour Columns salary became so big after the dot removed
print(salary.loc[52])
print(salary.loc[16])

7000-7500
6500-7500

In [11]:
# split the salary column into a list 
list_salary =salary.str.split('-')

In [12]:
# Loop through the salary list and check for numbers > 1000 (per hour columns) and divide by 100
for s in list_salary:
    for i in range(len(s)):
        if int(s[i]) > 1000:
            s[i] = int(s[i]) / 100

In [13]:
print(list_salary.loc[52])
print(list_salary.loc[16])

[70.0, 75.0]
[65.0, 75.0]

In [14]:
# Create Two new columns( one for min_salary and one for max_salary)
raw_df['min_salary'] = list_salary.apply(lambda x: int(x[0]))
# Takes x[0] if list has only one value,
raw_df['max_salary'] = list_salary.apply(lambda x: int(x[1]) if len(x)>1 else int(x[0]))

In [15]:
list_salary

0      [123, 178]
2      [135, 196]
3      [102, 148]
4       [95, 125]
6           [100]
          ...
992    [108, 132]
993    [133, 185]
995    [150, 200]
996    [149, 175]
998         [183]
Name: Salary Estimate, Length: 778, dtype: object

In [16]:
# Evaluate the avg salary
raw_df['avg_salary'] = (raw_df.min_salary + raw_df.max_salary) / 2

## 2. Company Name Column

### 1. Remove the trailing Rating from the company name
### 2. remove the \n from the company name

In [17]:
# you can see that companies that has -1 Rating, there name is fine
# but companies that has a Rating, there name ends with "\n3.2"
raw_df[['Rating','Company Name']].sample(40)

     Rating                                Company Name
176     3.7               National Security Agency\n3.7
546     3.5                               Dataminr\n3.5
961     4.0                                   RELX\n4.0
751     3.5                               Dataminr\n3.5
60     -1.0                                  DLZP Group
421     3.9                                   Meta\n3.9
880     4.1                             Salesforce\n4.1
955     3.9                               eimagine\n3.9
899     3.5                          SoundThinking\n3.5
726     4.3                       Neuberger Berman\n4.3
167     4.1                                   Visa\n4.1
497     4.1                                Tencent\n4.1
157     4.6                                   Etsy\n4.6
974     3.8                   Health Alliance Plan\n3.8
535     3.7                Amazon.com Services LLC\n3.7
785     3.9                                   Meta\n3.9
484     4.3                             Mastercard\n4.3
228     4.2                 FAST GROWING TREES LLC\n4.2
778     3.7                    Realtor.com Careers\n3.7
529     3.7               National Security Agency\n3.7
719     4.1    Arkansas Blue Cross and Blue Shield\n4.1
134     3.8  General Dynamics Mission Systems, Inc\n3.8
591     4.1                             Salesforce\n4.1
554     4.0                              Cedar Inc\n4.0
362     4.8                                 Notion\n4.8
822     3.8                   Health Alliance Plan\n3.8
429     3.8                   Health Alliance Plan\n3.8
624     3.5                                Discord\n3.5
875     4.3                       Neuberger Berman\n4.3
133     3.7               National Security Agency\n3.7
768     4.1                             Salesforce\n4.1
460     3.6           Stifel, Nicolaus & Co., Inc.\n3.6
170     4.2                    Hyperspace Ventures\n4.2
524     4.0                              Cedar Inc\n4.0
402     3.1                             CVS Health\n3.1
297     3.8  General Dynamics Mission Systems, Inc\n3.8
963     3.9                                   Meta\n3.9
601     4.0                                   RELX\n4.0
864    -1.0                                        Juji
666     4.3                       Neuberger Berman\n4.3

In [90]:
# Remove the Rating and /n from the company name tail
raw_df['company_txt'] = raw_df['Company Name'].str.rstrip('987654321.0\n')

In [157]:
raw_df['company_txt'].sample(10)
len(raw_df['company_txt'].unique())
raw_df['company_txt'].value_counts().head(10)

Realtor.com Careers            75
Cedar Inc                      51
CVS Health                     37
Salesforce                     31
Neuberger Berman               30
Meta                           30
Mastercard                     29
Health Alliance Plan           29
Octaura                        28
Stifel, Nicolaus & Co., Inc    28
Name: company_txt, dtype: int64

## 3. Company Location Column

### 1. Remove the Name of the States, Keep only the abbreviation
### 2. Deal with anomalies ['Texas', 'United States', 'New York State']

In [94]:
raw_df['Location'].sample(10)

505          Atlanta, GA
528           Iselin, NJ
171         New York, NY
970    San Francisco, CA
308         New York, NY
845               Remote
566         New York, NY
544         O Fallon, MO
825         New York, NY
482               Remote
Name: Location, dtype: object

In [216]:
# Remove the name of the States, keep the abbreviations
raw_df['job_state'] = raw_df['Location'].apply(lambda x: x.split(',')[1] if len(x.split(',')) > 1 else x)

In [217]:
# Turns out we have 4 abnormal values [ united States, Texas, Remote, New York State]
raw_df['job_state'].value_counts()

 NY               215
 CA               104
 TX                97
Remote             96
 OH                39
 MI                30
 MO                29
Texas              28
 NJ                28
 MD                22
 IN                19
 GA                11
 AR                11
 NE                 7
United States       7
 IL                 6
 NC                 5
 MN                 5
 PA                 5
 VA                 5
 CO                 3
New York State      2
 KY                 1
 FL                 1
 WI                 1
 CT                 1
Name: job_state, dtype: int64

In [218]:
# Turn out all the 7 united states are in lyra health company , after i did my research; it is located in california(CA)
raw_df[raw_df['job_state'] == 'United States']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state
53,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
83,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
160,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
348,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
387,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
415,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States
446,Data Scientist - Product,Employer Provided Salary:$114K - $157K,About Lyra Health\nLyra is transforming mental...,4.3,Lyra Health\n4.3,United States,1001 to 5000 Employees,2015,Company - Private,Health Care Services & Hospitals,Healthcare,$100 to $500 million (USD),114,157,135.5,Lyra Health,United States

In [219]:
raw_df['job_state'].replace({'Texas':' TX','New York State' : ' NY', 'United States' : ' CA'}, inplace =True)

In [220]:
raw_df['job_state'].value_counts()

 NY       217
 TX       125
 CA       111
Remote     96
 OH        39
 MI        30
 MO        29
 NJ        28
 MD        22
 IN        19
 AR        11
 GA        11
 NE         7
 IL         6
 PA         5
 MN         5
 VA         5
 NC         5
 CO         3
 KY         1
 FL         1
 WI         1
 CT         1
Name: job_state, dtype: int64

## 4. Founded Column

### 1. get the age of the company instead of the year found
### 2. Figure Out where the -1 coming From

In [241]:
raw_df['age']= raw_df.Founded.apply(lambda x: x if x < 1 else 2023 - x)

In [242]:
len(raw_df[raw_df['age'] == -1])

49

In [250]:
raw_df[(raw_df['age'] == -1) & (raw_df['job_state'] == 'Remote')].sample(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state,age
385,Data Scientist,Employer Provided Salary:$110K - $113K,Greetings from KonnectingTree!\nWe are looking...,-1.0,Konnectingtree,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,110,113,111.5,Konnectingtree,Remote,-1
162,Data Scientist,Employer Provided Salary:$125K - $150K,About Blue Water Thinking\nGuided by our princ...,3.5,Blue Water Thinking\n3.5,Remote,1 to 50 Employees,-1,Contract,-1,-1,Unknown / Non-Applicable,125,150,137.5,Blue Water Thinking,Remote,-1
477,Data Scientist,Employer Provided Salary:$110K - $113K,Greetings from KonnectingTree!\nWe are looking...,-1.0,Konnectingtree,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,110,113,111.5,Konnectingtree,Remote,-1
503,Data Scientist,Employer Provided Salary:$110K - $113K,Greetings from KonnectingTree!\nWe are looking...,-1.0,Konnectingtree,Remote,1 to 50 Employees,-1,Company - Public,-1,-1,Unknown / Non-Applicable,110,113,111.5,Konnectingtree,Remote,-1
263,AI Data Scientist,Employer Provided Salary:$65.00 - $75.00 Per Hour,Role - AI Data Scientist\nLocation : Remote\nD...,-1.0,Vandved Search,Remote,-1,-1,-1,-1,-1,-1,65,75,70.0,Vandved Search,Remote,-1

In [251]:
raw_df[(raw_df['age'] == -1) & ~(raw_df['job_state'] == 'Remote')].sample(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,company_txt,job_state,age
324,Artificial Intelligence (AI) Trainer,$102K - $161K (Glassdoor est.),We are seeking highly motivated and talented A...,-1.0,Juji,"San Jose, CA",1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),102,161,131.5,Juji,CA,-1
57,Artificial Intelligence (AI) Trainer,$102K - $161K (Glassdoor est.),We are seeking highly motivated and talented A...,-1.0,Juji,"San Jose, CA",1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),102,161,131.5,Juji,CA,-1
355,Artificial Intelligence (AI) Trainer,$102K - $161K (Glassdoor est.),We are seeking highly motivated and talented A...,-1.0,Juji,"San Jose, CA",1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),102,161,131.5,Juji,CA,-1
119,Artificial Intelligence (AI) Trainer,$102K - $161K (Glassdoor est.),We are seeking highly motivated and talented A...,-1.0,Juji,"San Jose, CA",1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),102,161,131.5,Juji,CA,-1
151,Artificial Intelligence (AI) Trainer,$102K - $161K (Glassdoor est.),We are seeking highly motivated and talented A...,-1.0,Juji,"San Jose, CA",1 to 50 Employees,-1,Company - Public,-1,-1,Less than $1 million (USD),102,161,131.5,Juji,CA,-1

In [252]:
# 19 out of 49 (-1) coming from remote jobs, remote jobs has no age
len(raw_df[(raw_df['age'] == -1) & (raw_df['job_state'] == 'Remote')])

19

In [253]:
len(raw_df[(raw_df['age'] == -1) & ~(raw_df['job_state'] == 'Remote')])

30

In [254]:
# 18 out of 49 (-1) coming from comoany called Juji
len(raw_df[(raw_df['age'] == -1) & (raw_df['company_txt'] == 'Juji')])

18

## 5. Description Column

In [262]:
raw_df['Job Description'][0]

"At Realtor.com®, we have among the most comprehensive and accurate coverage of real estate listings and the most engaged users across all the online real estate portals. Our mission is to make buying, selling, renting, and living in homes easier and more rewarding for everyone.\nBuilding your career? Build it better at Realtor.com®. Join us and help change the world of real estate, one home at a time.\nCome to work for http://Realtor.com ![ A leader in online real estate and backed by industry experience and the News Corp Brand, http://Realtor.com\nhttp://Realtor.com currently has an opportunity for a Data Scientist, Product Analytics, reporting to the Director of Analytics for Growth Product. http://Realtor.com is in the middle of aggressive strategic growth driven off of newly integrated entities, and continuing our record growth and consumer engagement will be critical to http://Realtor.com 's strategic success in the industry. Specifically, this role's core responsibilities will focus on partnering directly with the major functions of the business to drive consumer engagement, conversion and overall optimization of the consumer's journey for our emerging product and service areas. There is a tremendous opportunity to make a huge impact in a short amount of time!"

## Export Data to a CSV File and a Pickle File

In [267]:
raw_df.to_csv(CSV_EXPORT_PATH, index = False)

In [270]:
raw_df.to_pickle(PKL_EXPORT_PATH)